@page "/"

<PageTitle>Home</PageTitle>

<h1>HelpMate</h1>

<p>Bem-vindo à HelpMate! Uma aplicação desenvolvida para ajudar freelancers a gerir eficazmente o seu trabalho diário. Esta ferramenta intuitiva permite:</p>

<ul>
    <li>Registar e gerir a sua conta de forma prática e segura.</li>
    <li>Criar projetos e associar tarefas, mantendo tudo organizado.</li>
    <li>Controlar o tempo de trabalho, com registo preciso de início e fim de cada tarefa.</li>
    <li>Gerar relatórios detalhados que permitem acompanhar as horas trabalhadas e os ganhos mensais.</li>
    <li>Convidar colaboradores para trabalhar em conjunto nos seus projetos.</li>
</ul>