/* /Layout/HomeLayout.razor.rz.scp.css */
.page-container[b-zq8z4w347q] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content[b-zq8z4w347q] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.custom-divider[b-zq8z4w347q] {
    background-color: rgba(128, 128, 128, 1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* /Layout/SubMainLayout.razor.rz.scp.css */
.page-container[b-wnklbsluhz] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content[b-wnklbsluhz] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.custom-divider[b-wnklbsluhz] {
    background-color: rgba(128, 128, 128, 1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* /Layout/WorkspaceLayout.razor.rz.scp.css */
.page-container[b-zduczdhzp9] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/darkbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content[b-zduczdhzp9] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.custom-divider[b-zduczdhzp9] {
    background-color: rgba(128, 128, 128, 1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.glass-side[b-zduczdhzp9] {
    flex: 1;
    max-width: 150px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
